* { 
	margin:0; padding:0; 
	box-sizing: border-box;
}

body {
margin: 8px auto 0;
max-width: 800px;
font-family: 'Genos', sans-serif;
background-color:#272828;
}
img{
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#content{
    max-width:800px;
    display: flex;
    flex-direction: column;
  }
  .one{
    background-color: #fbf972a5;
    font-size:1.2em;
    padding:12px;
  }
  .one p{
    text-indent: 50px;
  }
  .one h1{
    text-align: center;
  }
  .two{
    background-color:black;
    font-size:1.2em;
    color: #c0c0c0; 
    padding:12px;
    background-image: url("/img/tornado2.jpg");
    background-size:cover;
  }
  .two p{
   background-color: rgba(0,0,0,.5) 
  }
  
  .three{
    background-color: #fbf972a5;
    padding:12px;
    font-size:1.2em;
  }
  #va-drinking{
    border: 5px ridge black;
    padding: 6px 12px 6px 20px;
    margin-left: 0.5rem;
    margin-right:20px;
    float: right;
    width: 40%;
    text-indent:20px;
  }
  #va-drinking ul li{
    list-style:inside;
    text-indent:20px;
  }
  .ptsd{
    display:inline; 
    background-color: #fbf972a5;
  }
  .close-header{
    text-align:center;
    background-image: url("../img/tornado1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }
  #before{
    padding:12px;
  }
  #before p{
    text-indent: 50px;
  }
  /*figure{
    border: 5px ridge black;
    float: left;
    margin-right: 20px;
  }*/
  figcaption{
    text-align: center;
  }
  #flick{
    border: 5px ridge black;
    float: left;
    margin-right: 20px;
  }
  nav{
    background-color: #0f0f0f;
  }
  nav ul{
    margin-left:10px;
    text-align:center;
  }
  nav ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }
  nav ul li a{
    display: inline-block;
    padding-right:10px;
    padding-left:10px;
    font-size:2.8em;
  }
  nav ul li a:link, nav ul li a:visited {
    text-decoration:none;
    color:#6c7391;
  }
  nav ul li a:hover {
    border-width: 3px;
    border-style: solid;
    border-color: #CCC;
  }
  .click{
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 20px;
  }
  .click:link, .click a:visited{
    text-decoration:none;
    color:#6c7391;
  }
  .click:hover {
    border-width: 3px;
    border-style: ridge;
    border-color: #CCC;
  }
  #damage{
    border: 5px ridge black;
    float: right;
    margin-right: 20px;
  }